#previousDayControl,
#nextDayControl,
#selectedDateOutput {
  display: inline;
}

#timeSelectionDisplay {
  display: block;
}

#details {
  position: absolute;
  top: 40px;
  left: 20px;
}

.additional-info {
  font-size: 11px;
  font-family: arial;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.7em 0.7em 0.7em 0;
  max-width: 10em;
}

p {
  margin: 0.2em;
}

.box {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  width: 470px;
}

.dayControls {
  position: relative;
}

#previousDayControl {
  position: absolute;
  left: 0;
  width: 8em;
  top: 0;
}
#nextDayControl {
  position: absolute;
  right: 0;
  width: 8em;
  top: 0;
}

#selectedDateOutput {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 1.1em;
}

h1 {
  font-size: 26px;
  font-weight: normal;
}
